<h1>Thêm User</h1>
<form action="/add" method="POST">
  LatLong: <input type="text" name="LatLong" /> <br />
  Role:<input type="text" name="Role" /> <br />
  OpenHour:<input type="number" name="OpenHour" /> <br />
  DefaultAccount:<input type="number" name="DefaultAccount" /> <br />
  BankName:<input type="text" name="BankName" /> <br />
  BranchName:<input type="text" name="BranchName" /> <br />
  <button type="submit">Thêm User</button>
</form>
